.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.clients__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: $tablet-breakpoints) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: $desktop-breakpoints) {
  .clients {
    // display: flex;
    margin-left: -30px;
  }
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
    margin-left: 30px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  @include bordered(#afb1b8);
  border-radius: 4px;
  fill: $client-color-icon;
  transition-property: border-color, outline, fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    @include bordered($accent-color);
    outline: $accent-color;
    fill: $accent-color;
  }
}
.animate__bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 2500ms;
  animation-timing-function: $timing-function;
  animation-delay: 150ms;
  animation-direction: alternate;
  animation-iteration-count: 3;
}
