.contacts {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: $tablet-breakpoints) and (max-width: 1199px) {
  .contacts {
    padding-top: 21px;
  }
}

@media screen and (min-width: $desktop-breakpoints) {
  .contacts {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }

  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: $tablet-breakpoints) {
  .contacts__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: $desktop-breakpoints) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
