.page-header {
  position: relative;
  border-bottom: 1px solid $bg-color;
}
.header-container {
  display: flex;
}
.page-header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1;

  @media screen and (min-width: $tablet-breakpoints) {
    margin-right: 88px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: $desktop-breakpoints) {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.page-header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: $desktop-breakpoints) {
  .page-header__main {
    justify-content: center;
  }
  .container--header {
    display: flex;
  }
}

.page-header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $desktop-breakpoints) {
    justify-content: center;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 20;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-button .icon-close {
  display: block;
}
.button-cross {
  position: absolute;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  top: 16px;
  right: 25px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and (min-width: 530px) {
    right: 50px;
  }
  @media screen and (min-width: 600px) {
    right: 100px;
  }
  @media screen and (min-width: 680px) {
    right: 150px;
  }
}
.menu-button,
.button-cross {
  @media screen and (min-width: $tablet-breakpoints) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  background-color: $primery-white-color;
  z-index: 10;
}
.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767.98px) {
  .menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.menu-container {
  @media screen and (min-width: $tablet-breakpoints) {
    display: flex;
    height: 80px;
  }
}
