.hero {
  background-color: $bg-hero-color;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
.hero__overlay {
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/foto3/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: $primery-white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: $tablet-breakpoints) {
  .hero__overlay {
    width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: $desktop-breakpoints) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__overlay {
    width: 1600px;
    height: 600px;
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.animate__backInDown {
  @media screen and (min-width: $tablet-breakpoints) {
    animation-name: backInDown;
    animation-duration: 2500ms;
    animation-timing-function: $timing-function;
    animation-delay: 200ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

.button {
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  color: $button-hero-text-color;
  background-color: $accent-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include bordered(transparent);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.button__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primery-white-color;
}
