.buttons {
  display: flex;
  flex-wrap: wrap;
}
.buttons__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: $tablet-breakpoints) {
  .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $desktop-breakpoints) {
  .buttons {
    margin-bottom: 50px;
  }
}

.buttons__filter {
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $secondary-background-color;
  @include bordered(transparent);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $primery-white-color;
    background-color: $accent-background-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.card-set__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $tablet-breakpoints) and (max-width: 1199px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
  }
  .card-set__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: $desktop-breakpoints) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
  }
  .card-set__item {
    margin-top: 30px;
    margin-right: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.card-set__link {
  display: block;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.overlay-foto__card {
  @include centeredFlex(flex);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translatey(100%);
  transition-property: transform background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  .card-set__link:hover &,
  .card-set__link:focus & {
    transform: translatey(0);
    background-color: rgba(33, 150, 243, 0.9);
  }
}
.overlay-foto__img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: $mobile-breakpoints) {
  .overlay-foto {
    position: relative;
    overflow: hidden;
    width: 450px;

    &__text {
      width: 322px;
      margin: 0;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      color: $primery-white-color;
    }
  }
}

@media screen and (min-width: $tablet-breakpoints) {
  .overlay-foto {
    width: 354px;

    &__text {
      width: 306px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoints) {
  .overlay-foto {
    width: 370px;

    &__text {
      width: 322px;
    }
  }
}

.description {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-style: 400;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-text-color;
  }
  &__text {
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}
@media screen and (min-width: $tablet-breakpoints) and (max-width: 1199px) {
  .card-set__item:first-child .description {
    padding-bottom: 56px;
  }
}
