.site-nav {
  margin-bottom: 302px;
}
.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav__link--current {
  color: $accent-color;
}

@media screen and (min-width: $tablet-breakpoints) {
  .site-nav {
    display: flex;
    margin-bottom: 0;

    &__item:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
  .site-nav__link {
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
  .site-nav__link--current {
    color: $primary-text-color;
  }
  .site-nav__studio {
    position: relative;
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .site-nav__studio::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  .site-nav__portfolio {
    position: relative;
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .site-nav__portfolio::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  .site-nav__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: $desktop-breakpoints) {
  .site-nav {
    margin-right: 0;
  }
}
