.team {
  min-width: 480px;
  background-color: $secondary-background-color;
}
.team-cardset__item {
  width: 100%;
  background: $button-hero-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-cardset__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: $tablet-breakpoints) {
  .team {
    min-width: 768px;
  }
  .team-cardset {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;

    &__item {
      margin-right: 30px;
      margin-bottom: 30px;
      flex-basis: calc((100% - 2 * 30px) / 2);
      background: $button-hero-text-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoints) {
  .team {
    min-width: 1200px;
  }
  .team-cardset {
    display: flex;
    margin-right: -30px;

    &__item {
      margin-right: 30px;
      flex-basis: calc((100% - 4 * 30px) / 4);
      background: $button-hero-text-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }
}

.team-cardset__content {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 16px;
}
.team-cardset__name {
  margin-bottom: 10px;
  margin-top: 0;
  font-style: 400px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.team-cardset__prof {
  margin: 0;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.team-cardset__thamb {
  width: 450px;

  @media screen and (min-width: $tablet-breakpoints) {
    width: 354px;
  }
  @media screen and (min-width: $desktop-breakpoints) {
    width: 270px;
  }
}
.team-cardset__img {
  width: 100%;
}
.animate__rotateOut {
  animation-name: rotateOut;
  animation-duration: 3500ms;
  animation-timing-function: $timing-function;
  animation-delay: 2000ms;
  animation-direction: alternate;
  animation-iteration-count: 3;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;

  &__item {
    width: 44px;
    height: 44px;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: $desktop-breakpoints) {
  .social-list {
    padding-bottom: 30px;
  }
}
.social-list__link {
  @include centeredFlex(flex);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: $client-color-icon;
  background-color: $primery-white-color;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    fill: $primery-white-color;
    background-color: $accent-background-color;
  }
}
.social-list__icon {
  width: 20px;
  height: 20px;
}
