$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primery-white-color: #ffffff;
$bg-color: #e5e5e5;
$secondary-background-color: #f5f4fa;
$accent-background-color: #2196f3;
$button-hero-text-color: #ffffff;
$bg-hero-color: #2f303a;
$client-color-icon: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$mobile-breakpoints: 480px;
$tablet-breakpoints: 768px;
$desktop-breakpoints: 1200px;
